
{block #content}

<h3 class="mb-3">Line chart</h3>
{control lineChart}

<h3 class="mb-3">Bar chart</h3>
{control barChart}

<h3 class="mb-3">Pie chart</h3>
{control pieChart}

<h3 class="mb-3">Doughnut chart</h3>
{control doughnutChart}