<div class="chart-responsive">
	<canvas class="chart" height="{$height}" width="{$width}" style="width: {$width}px; height: {$height}px;"
			data-chart-type="{$type}"
			{if $showPercentages}data-show-percentages=1{/if}
			data-chart-values="{$data}"
	></canvas>
</div>

